.category {
  width: 100%;
  height: 170px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  .category-center {
    width: 85%;
    height: 100%;
    display: flex;
    justify-content: center;
    column-gap: 50px;
    .category-item {
      width: fit-content;
      height: 100%;
      padding-top: 30px;
      box-sizing: border-box;
      img {
        width: 52px;
        height: 52px;
        display: block;
        margin: 0 auto;
        cursor: pointer;
      }
      p {
        width: 50%;
        font-size: 11px;
        font-weight: bold;
        font-family: Yekan;
        margin: 10px auto;
        color: #3f4064;
      }
    }
  }
}
.circle {
  width: 50px;
  height: 50px;
  background-color: #f0f0f1;
  margin-top: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2px;
  .category-item-cirle {
    width: 5px;
    height: 5px;
    background-color: #a1a3a8;
    border-radius: 50%;
    p {
      width: 50%;
      font-size: 11px;
      font-weight: bold;
      font-family: Yekan;
      margin: 10px auto;
    }
  }
}
