.category{
    width: 100%;
    height: 170px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    .category-center{
        width: 70%;
        height: 100%;
        display: flex;
        justify-content: center;
        column-gap: 5px;
        .category-item{
            width: fit-content;
            height: 100%;
            padding-top: 30px;
            box-sizing: border-box;
            img{
                width: 52px;
                height: 52px;
                display: block;
                margin: 0 auto;
            }
            p{
                width: 50%;
                font-size: 11px;
                font-weight: bold;
                font-family: Yekan;
                margin: 10px auto;
            }
        }
    }
}
.circle{
    width: 50px;
    height: 50px;
    background-color: lightgrey;
    margin-top: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2px;
    .category-item-cirle{
        width: 10px;
        height: 10px;
        background-color: grey;
        border-radius: 50%;
    }
}