.category2 {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  .category2-center {
    width: 85%;
    height: 100%;
    padding: 10px 10px 10px 0;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: black;
  }
}