.dailysale {
  width: 100%;
  height: 443px;
  display: flex;
  justify-content: center;
  margin-top: 17px;
  .dailysale-center {
    width: 85%;
    height: 100%;
    padding: 10px 10px 10px 0;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: #f4f4f4;
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      .swiper-slide-item {
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        background-color: #f4f4f4;
        p {
          font-size: 22.5px;
          color: #1c7c54;
          font-weight: bolder;
          margin: 30px 8px;
          font-family: Yekan;
        }

        .poursant {
          width: 124px;
          height: 124px;
          display: block;
          margin: 50px auto;
        }

        a {
          text-decoration: none;
          font-family: Yekan;
          font-size: 12px;
          color: #1c7c54;
          font-weight: bold;
          font-family: Yekan;
        }
      }
      .swiper-slide-product {
        width: 193px;
        height: 385px;
        padding-top: 10px;
        box-sizing: border-box;
        background-color: white;
        border-radius: 11px;
        .wonder {
          width: 116px;
          height: 14px;
          display: block;
          margin: 5px auto;
          margin-right: 10px;
        }
        .sell {
          width: 64px;
          height: 14px;
          display: block;
          margin: 5px auto;
          margin-right: 10px;
        }
        img {
          width: 150px;
          height: 150px;
          display: block;
          margin: 10px auto;
        }
        p {
          width: 70%;
          margin: 0 auto;
          font-family: Yekan;
          font-size: 12px;
          margin-bottom: 10px;
          font-weight: bold;
          color: #3f4064;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          box-orient: vertical;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          overflow: hidden;
          width: 70%;
          margin: 0 auto;
          font-family: Yekan;
          font-size: 11px;
          margin-bottom: 10px;
        }
        .discount {
          width: 100%;
          height: 30px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row-reverse;
          padding: 0 10px;
          margin-top: 50px;
          h3 {
            font-family: Nazanin;
            font-size: 16px;
            font-weight: bold;
            display: flex;
            align-items: center;
            img {
              width: 16px;
              height: 16px;
            }
          }

          h4 {
            font-family: Nazanin;
            font-size: 13px;
            font-weight: bold;
            padding: 2px 10px;
            background-color: crimson;
            color: whitesmoke;
            border-radius: 16px;
          }
        }
        .price-real {
          color: lightgray;
          text-decoration: line-through;
          font-family: Nazanin;
          text-align: left;
          padding-left: 25px;
          box-sizing: border-box;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
