.favorites {
  width: 100%;
  height: 340px;
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  .favorites-center {
    width: 85%;
    height: 100%;
    border: 1px solid rgb(235, 229, 229);
    border-radius: 16px;
    .swiper {
      width: 100%;
      height: 100%;
      .favorites1 {
        width: 1206px;
        height: 33.6px;

        .favorites1-text {
          width: 1206px;
          height: 33px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding-right: 50px;
          padding-top: 30px;
          p {
            font-size: 16px;
            color: #0c0c0c;
            font-family: Yekan;
            font-weight: bolder;
            justify-content: center;
          }
          a {
            font-size: 12px;
            color: #19bfd3;
            font-family: Yekan;
            font-weight: bold;
          }
        }
      }
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
        color: #2b2b2b;
        .swiper-slide-item {
          width: 100%;
          height: 100%;
          .swiper-slide-item-product {
            width: 100%;
            height: 33%;
            display: flex;
            justify-content: center;
            column-gap: 15px;
            align-items: center;
            img {
              width: 86px;
              height: 86px;
            }
            span {
              font-size: 40px;
              font-family: Nazanin;
              color: aqua;
              font-weight: bold;
            }
            p {
              width: 100%;
              font-size: 10px;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              box-orient: vertical;
              -webkit-line-clamp: 2;
              line-clamp: 2;
              overflow: hidden;
              font-family: Yekan;
            }
          }
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
