.gallery5 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .gallery5-center {
    width: 1336px;
    height: 100%;
    .gallery5-items {
      gap: 20px;
      .mode10 {
        width: 1336px;
        height: 167px;
        border-radius: 16px;
      }
      .mode11 {
        width: 1336px;
        height: 534.4px;
        border-radius: 16px;
      }
    }
  }
}
