@import "./setting.css";
@import "./header.css";
@import "./story.css";
@import "./slider.css";
@import "./category.css";
@import "./wonderfull.css";
@import "./gallery.css";
@import "./supermarket.css";
@import "./gallery2.css";
@import "./category2.css";
@import "./gallery3.css";
@import "./top-brands.css";
@import "./gallery4.css";
