@import "./setting.css";
@import "./header.css";
@import "./story.css";
@import "./slider.css";
@import "./category.css";
@import "./wondefull.css";
@import "./gallery.css";
@import "./supermarket.css";
@import "./gallery2.css";
@import "./category2.css";
@import "./gallery3.css";
@import "./top-brands.css";
@import "./gallery4.css";
@import "./mobile.css";
@import "./favorites.css";
@import "./clock.css";
@import "./sale.css";
@import "./trend.css";
@import "./reads.css";
@import "./footer.css";
@import "./text.css";
@import "./gallery5.css";
@import "./articles.css";
@import "./shop.css";
@import "./wonderfull2.css";
@import "./products3.css";
@import "./header2.css";
@import "./dailysale.css";
@import "./category3.css";
@import "./products1.css";
@import "./products2.css";
@import "./products3.css";
@import "./popular.css";
@import "./popular2.css";
@import "./products4.css";
@import "./products5.css";
