.mobile {
  width: 100%;
  height: 420px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  .mobile-center {
    width: 85%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    border: 1px solid rgb(238, 231, 231);
    border-radius: 16px;
    .mobile-center-item {
      width: 25%;
      height: 100%;
      .mobile-center-item-top {
        padding-top: 10px;
        padding-right: 10px;
        box-sizing: border-box;
        margin-bottom: 10px;
        h1 {
          font-size: 16px;
          font-weight: bold;
          margin-bottom: 5px;
          font-family: Yekan;
        }
        p {
          font-size: 10px;
          font-family: Yekan;
        }
      }
      .mobile-center-item-center {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        gap: 1px;
        div {
          width: 45%;
          display: flex;
          justify-content: center;
          img {
            width: 130px;
            height: 130px;
          }
        }
      }
      .mobile-center-item-bottom {
        width: 100%;
        a {
          display: block;
          width: 100%;
          text-align: center;
          color: rgb(5, 124, 124);
          text-decoration: none;
          font-size: 13px;
          margin-top: 10px;
        }
      }
    }
  }
}
.border-left {
  border-left: 1px solid rgb(236, 232, 232);
}
.border-bottom {
  border-bottom: 1px solid rgb(236, 232, 232);
}
