.products4 {
  width: 100%;
  height: 464px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 17px;
  .products4-center {
    width: 85%;
    height: 100%;
    border: 1px solid #eee;
    border-radius: 16px;
    .swiper {
      width: 100%;
      height: 100%;
      .health {
        width: 1206px;
        height: 33.6px;

        .health-text {
          width: 1206px;
          height: 33px;
          padding: 0 10px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-right: 50px;
          padding-top: 30px;
          p {
            font-size: 16px;
            color: #0c0c0c;
            font-family: Yekan;
            font-weight: bolder;
            border-bottom: 2px solid #029049;
          }
          a {
            font-size: 12px;
            color: #19bfd3;
            font-family: Yekan;
            font-weight: bold;
          }
        }
      }
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 16px;
      .swiper-slide-item {
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
      }
      .swiper-slide-product4 {
        width: 193px;
        height: 385px;
        padding-top: 10px;
        box-sizing: border-box;
        background-color: white;
        border-radius: 11px;
        .wonder {
          width: 116px;
          height: 14px;
          display: block;
          margin: 5px auto;
          margin-right: 10px;
        }
        img {
          width: 150px;
          height: 150px;
          display: block;
          margin: 10px auto;
        }
        p {
          width: 70%;
          margin: 0 auto;
          font-family: Yekan;
          font-size: 12px;
          margin-bottom: 10px;
          font-weight: bold;
          color: #3f4064;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          box-orient: vertical;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          overflow: hidden;
          width: 70%;
          margin: 0 auto;
          font-family: Yekan;
          font-size: 11px;
          margin-bottom: 10px;
        }
        .discount {
          width: 100%;
          height: 30px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row-reverse;
          padding: 0 10px;
          margin-top: 50px;
          h3 {
            font-family: Nazanin;
            font-size: 16px;
            font-weight: bold;
            display: flex;
            align-items: center;
            img {
              width: 16px;
              height: 16px;
            }
          }

          h4 {
            font-family: Nazanin;
            font-size: 13px;
            font-weight: bold;
            padding: 2px 10px;
            background-color: crimson;
            color: whitesmoke;
            border-radius: 16px;
          }
        }
        .price-real {
          color: lightgray;
          text-decoration: line-through;
          font-family: Nazanin;
          text-align: left;
          padding-left: 25px;
          box-sizing: border-box;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
