.read {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  .read-center {
    width: 85%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    .read-item {
      border: 1px solid #eee;
      border-radius: 16px;
      text-align: center;
      overflow: hidden;
      img {
        width: 323px;
        height: 201px;
        object-fit: cover;
      }
      p {
        font-family: Yekan;
        font-size: 12px;
        font-weight: bold;
        color: #333;
        padding: 10px;
      }
    }
  }
}
 h2 { 
  color: #333;
  font-size: 16px;
}
a{
    font-size: 12px;
    color: #19bfd3;
}

.parent{

  
  padding: 0  8rem ;
  display: flex;
  justify-content:space-between;

}