.sale {
  width: 100%;
  height: 815px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  .sale-center {
    width: 85%;
    height: 100%;
    border: 1px solid rgb(238, 231, 231);
    border-radius: 16px;
    
    .center-item{
      
      display: flex;
      justify-content: center;
    }
    h1 {
      font-size: 16px;
      color: #0c0c0c;
      text-align: center;
      font-family: Yekan;
      font-weight: bolder;
      justify-content: center;
    }

    .sale-center-item {
      width: 100%;
      height: 100%;
      .sale-center-item-top,
      .sale-center-item-center,
      .sale-center-item-bottom {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 15px;
        margin-bottom: 30px;
        .product {
          text-align: center;
          padding: 10px;
          img {
            width: 150px;
            height: 150px;
          }
          .discount {
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row-reverse;
            padding: 0 10px;
            h3 {
              font-family: Nazanin;
              font-size: 15px;
              font-weight: bold;
              display: flex;
              align-items: center;
              img {
                width: 16px;
                height: 16px;
              }
            }
            h4 {
              font-family: Nazanin;
              font-size: 13px;
              font-weight: bold;
              padding: 2px 10px;
              background-color: crimson;
              color: whitesmoke;
              border-radius: 16px;
            }
          }
          .price-real {
            color: lightgray;
            text-decoration: line-through;
            font-family: Nazanin;
            text-align: left;
            padding-left: 25px;
            box-sizing: border-box;
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
    }
  }
}
