* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: Yekan;
  src: url(../fonts/Qs_Iranyekan\ light.ttf);
}
@font-face {
  font-family: Nazanin;
  src: url(../fonts/B-NAZANIN.TTF);
}
html,
body {
  font-family: Yekan;
  box-sizing: border-box;
  direction: rtl;
  min-height: 100vh;
  /* overflow: hidden; */
}
.wrapper {
  width: 100%;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid lightgrey;
  background-color: white;
}
.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  font-size: 12px;
  font-weight: bold;
  color: #2b2b2b;
}
.swiper-button-disabled {
  opacity: 0 !important;
}

/* فقط دسکتاپ */
@media (min-width: 768px) {
  html {
    transform-origin: top left;
    transform: scale(calc(100vw / 1527));
    width: 1527px;
    height: 100%;
    overflow-x: hidden;
  }
}
