.supermarket{
    width: 100%;
    height: 140px;
    .supermarket-center{
        width: 1333px;
        height: 114px;
        background-color: aqua;
        padding-left: 400px;
        padding-right: 400px;
    }
}