.supermarket {
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  .supermarket-center {
    width: 85%;
    height: 100%;
    background-color: #eceeee;
    display: flex;
    align-items: center;
    border-radius: 16px;
    .supermarket-center-right {
      /* width: 40%; */
      display: flex;
      align-items: center;
      margin-right: 20px;
      gap: 30px;
      
      .image-1 {
        width: 66px;
        height: 62px;
      }
      .image-2 {
        width: 250px;
        height: 28px;
      }
      .circle2 {
        width: 130px;
        height: 28px;
        border-radius: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #029a49;
        border: 1px solid #029a49 ;
        
      }
    }
    .supermarket-left {
      width: 40%;
      display: flex;
      align-items: center;
      margin-right: 80px;
      .supermarket-items {
        display: flex;
        gap: 20px;
        .supermarket-item-2 {
          justify-content: space-between;
          align-items: center;
          flex-direction: row-reverse;
          padding: 0 5px;
          h4 {
            font-family: Nazanin;
            font-size: 13px;
            font-weight: bold;
            padding: 2px 10px;
            background-color: crimson;
            color: whitesmoke;
            border-radius: 16px;
            width: fit-content;
          }
          img {
            width: 65px;
            height: 65px;
            border-radius: 50%;
          }
        }
        .rectangle{
          width: 145px;
          height: 50px;
          display: flex;
          padding-bottom: 100px;
          h5{
            font-size: 12px;
            color: #029a49;
            margin-top: 40px;
          }
          img{
            width: 20px;
            height: 20px;
            margin-top: 40px;
          }
        }
      }
    }
  }
}
