.text {
  width: 100%;
  height: 105px;
  align-items: center;
  display: flex;
  justify-content: center;
  .text-center {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      font-family: Yekan;
      font-size: 30px;
      font-weight: bold;
      color: black;
    }
  }
}
