.top-brand {
  width: 100%;
  height: 230px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  .top-brand-center {
    width: 85%;
    height: 100%;
    padding: 10px 10px 10px 10px;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: aqua;
  }
}