.trend {
  width: 100%;
  height: 340px;
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  .trend-center {
    width: 85%;
    height: 100%;
    border: 1px solid rgb(235, 229, 229);
    border-radius: 16px;
    .swiper {
      width: 100%;
      height: 100%;
    }

    
    h1 {
      font-size: 16px;
      color: #0c0c0c;
      font-family: Yekan;
      font-weight: bolder;
      justify-content: center;
      text-align: center;
    }
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    a {
      text-decoration: none;
      color: #2b2b2b;
      .swiper-slide-item {
        width: 100%;
        height: 100%;
        .swiper-slide-item-product {
          width: 100%;
          height: 33%;
          display: flex;
          justify-content: center;
          column-gap: 15px;
          align-items: center;
          img {
            width: 86px;
            height: 86px;
          }
          span {
            font-size: 40px;
            font-family: Nazanin;
            color: aqua;
            font-weight: bold;
          }
          p {
            width: 100%;
            font-size: 10px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            overflow: hidden;
          }
        }
      }
    }
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
