.wonderfull {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  .wonderfull-center {
    width: 85%;
    height: 100%;
    padding: 10px 10px 10px 0;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: #dc304e;
    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      .swiper-slide-item {
        width: 100%;
        height: 100%;
        padding: 10px;
        box-sizing: border-box;
        background-color: rgb(216, 37, 73);
        .image-1 {
          width: 88px;
          height: 88px;
          display: block;
          margin: 5px auto;
        }
        .clock {
          width: 100%;
          height: 30px;
          display: flex;
          justify-content: center;
          flex-direction: row-reverse;
          column-gap: 5px;
          margin-top: 15px;
          .hourse,
          .seconds,
          .minutes {
            width: 30px;
            height: 30px;
            background-color: whitesmoke;
            font-family: Nazanin;
            border-radius: 5px;
            font-weight: bold;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          span {
            color: whitesmoke;
          }
        }
        .image-2 {
          width: 80px;
          height: 80px;
          display: block;
          margin: 15px auto;
        }
        a {
          text-decoration: none;
          font-family: Yekan;
          font-size: 12px;
          color: whitesmoke;
          font-weight: bold;
        }
      }
      .swiper-slide-product {
        width: 100%;
        height: 100%;
        padding-top: 10px;
        box-sizing: border-box;
        background-color: white;
        img {
          width: 132px;
          height: 132px;
          display: block;
          margin: 10px auto;
        }
        p {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          box-orient: vertical;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          overflow: hidden;
          width: 70%;
          margin: 0 auto;
          font-family: Yekan;
          font-size: 11px;
          margin-bottom: 10px;
        }
        .discount {
          width: 100%;
          height: 30px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row-reverse;
          padding: 0 10px;
          h3 {
            font-family: Nazanin;
            font-size: 15px;
            font-weight: bold;
            display: flex;
            align-items: center;
            img {
              width: 16px;
              height: 16px;
            }
          }

          h4 {
            font-family: Nazanin;
            font-size: 13px;
            font-weight: bold;
            padding: 2px 10px;
            background-color: crimson;
            color: whitesmoke;
            border-radius: 16px;
          }
        }
        .price-real {
          color: lightgray;
          text-decoration: line-through;
          font-family: Nazanin;
          text-align: left;
          padding-left: 25px;
          box-sizing: border-box;
          font-size: 14px;
          font-weight: bold;
        }
      }
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
